<!DOCTYPE html>
<html data-ng-app="gl" ng-strict-di>
	<head>
		<meta charset="UTF-8">
		<title>Hello World!</title>
		<link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css" />
		<style>
			body{
				background-color: #07080A;
				height: 100vh;
				overflow-y: hidden;
			}

			.no-pad{
				padding:0;
			}

			.no-marg{
				margin: 0;
			}

			.launch-list{
				background-color: #222327;
				color: #FFFFFF;
				position: relative;
				height: 100vh;

			}

			.games{
				overflow-y: auto;
				height: 75%;
			}

			.add-game{
				position: absolute;
				bottom:0;
			}
		</style>
	</head>
	<body class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<div class="row">
					<div class="launch-list">
						<h2 class="no-pad no-marg">Games</h2>
						<hr />
						<div class="search">
							<input ng-model="search" class="form-control" type="text" />
						</div>
						<ul class="games">
							<li ng-repeat="file in files | filter:search">
								<a ng-click="GetGameData(file.title)" href="#">{{file.title}}</a>
							</li>
						</ul>
						<div class="add-game">
							Add Game +
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div style="color: #ffffff; font-weight: bold">
						<h1>{{ActiveGame}}</h1>
						{{gameData}}
					</div>
				</div>
			</div>
		</div>
		<script src="../js/angular/angular.js"></script>

		<!-- services -->
		<script src="../services/game-list.service.js"></script>

		<script src="../gl.js"></script>

		<!-- core module -->
		<!--<script src="../components/game-list.directive.js"></script>-->

	</body>
</html>
